
<div id="table">

  
  
  <table>
    <h2>Table</h2>

    <tbody #tbody>
      <!-- sticky table head -->
      <tr id="thead">
        <th *ngFor="let tbCol of tbCols">
            {{tbCol | uppercase}}
        </th>
        <th>SUBMIT</th>
      </tr>

      <!-- table body with scrollbar-->
      <tr *ngFor="let tbRow of tbRows">
        <td *ngFor="let tbCol of tbCols">
          {{ tbRow[ tbCol] }}
        </td>
        <td>
          <button>submit</button>
        </td>
      </tr>

    </tbody>

    <!-- table footer with pagination and page size selection-->
    <tfoot>
      
      <span class="pagination">
        <a href="#" (click)="prevPage(currPage)">&laquo;</a>
        <span *ngFor="let pageNumber of displayPageNumbers">
          <a href="#" (click)="changePage(pageNumber); createPageButtons(); tbody.scrollTop = 0;" [ngClass]="{'active': pageNumber == currPage}">{{pageNumber}}</a>
        </span>
        <a href="#" (click)="nextPage(currPage)">&raquo;</a>
      </span>
      
      <span id="itemPerPage">total pages: {{totalPage}}. view:
        <select type="number" [(ngModel)]="rowsEachPage" (ngModelChange)="changeItemsEachPage()" >
          <option *ngFor="let size of sizeList" [ngValue]="size">{{size}}</option>
        </select>
        rows each page.
      </span>

    </tfoot>

  </table>

</div>