div{

    table {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        border-collapse: collapse;
        margin: auto;
        #thead{
            text-align: left;
            z-index: 5;
            th{
                color: #eee;
                position: sticky;
                top: 0%;
                padding: 0.25em;
                background: #33aaaa;
            }
        }

        tbody{
            display: block;
            white-space: nowrap;
            overflow-y: scroll; 
            overflow-x: scroll;
            width: 90vw;
            max-height: 80vh;
            tr:nth-child(even){
                background: #DDD;
            }
            td{
                padding: 0.25em;
            }
        }

        tfoot {
            width: 90vw;
            position: sticky;
            left: 0px;
            bottom: 0;
            z-index: 1;
            background: #eee;
            color: #666;
            display: inline-block;
            overflow: hidden;
            span{
                padding: 0.2em
            }
        }
    }
}


.pagination {
    
    display: inline-block;
    margin: auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 0.2em 0.4em;
    text-decoration: none;
}

.pagination a.active {
    background-color: #33aaaa;
    color: white;
}

#itemPerPage{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

